.main-div {
  width: 920px;
  height: 500px;
}

.div-inner {
  width: 200px;
  height: 415px;
  margin-top: 20%;
}

.div-title {
  margin-top: 2rem;
}

.div-p {
  opacity: 0.7;
  margin-top: 1.75rem;
}

.div-btn {
  margin-top: 5rem;
}

.button {
  height: 45px;
  width: 145px;
  background-color: white;
  border: none;
}

.button:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.one {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.three {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
